/target
/extensions/target
/app/node_modules
/app/dist
/app/src-tauri/target
*.wasm.tmp
/extensions/*/dsp.wasm
/extensions/*/ui.js
*.tsbuildinfo
/app/src-tauri/gen/schemas
/extensions/*/dsp.so
/extensions/*/dsp.dylib
/extensions/*/dsp.dll
/extensions/gain-native/target
